#Main {
    border: 5px solid green ;
    width: 95vw;
    height: 95vh;
}
#title {
    border: 5px solid rgb(0, 225, 255);
    display: flex ;
    justify-content: center;
    margin-bottom: 5%;
}
#mode {
    border: 5px solid pink;
    display: flex ;
    align-items: center;
    height: 70%;
}
.modeitem {
    border: 2px solid blue;
    margin: 5%;
    align-items: center;
    width: 20vw;
    height: 10vh;
    text-align: center;
    padding-top: 5%;